<!-- Comments -->
{% if site.data.comments[page.slug] %}
    <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Komentarze:
    </h3>
  {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      <label>
        {% if comment[1].url %}
          <a href="{{ comment[1].url }}">
        {% endif %}
        <strong>{{ comment[1].name }}</strong>
        {% if comment[1].url %}
          </a>
        {% endif %}
      </label>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <p>{{ comment[1].message | markdownify }}</p>
    {% endfor %}
{% endif %}
<!-- Comments Form -->
  <form method="POST" action="https://antonoherbacie-comments.herokuapp.com/v2/entry/Septiconn/septiconn.github.io/main/comments">
    <input name="options[redirect]" type="hidden" value="https://antonoherbacie.pl">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label>Imię</label>
      <input name="fields[name]" type="text">
      <label>E-mail (opcjonalne)</label>
      <input name="fields[email]" type="email">
      <br>
      <label>Witryna (opcjonalne)</label>
      <input name="fields[url]" type="url">
      <br>
      <label>Komentarz</label>
      <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
      <small>Komentarz zostanie opublikowany po moderacji</small>

      <button type="submit">Wyślij komentarz</button>

  </form>



